.bt_report {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    background-image: url(printer_48.png);
    text-shadow: 1px 2px 3px grey;
}

.bt_s {
    color: teal;
    margin: 2px 7px;
    padding: 6px 34px 6px 34px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    border-radius: 5px;
    /*border: 1px solid rgba(180, 180, 180, 0.3);*/
    text-decoration: none;
    /*background-color: #333;*/
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    text-shadow: 1px 2px 3px grey;
}

.bt_t {
    color: teal;
    padding: 4px 24px 4px 24px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.3;
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.3);
    font-size: 16px;
    text-decoration: none;
    background-color: #cfefd5;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    text-shadow: 1px 2px 3px grey;
    box-shadow: 3px 3px 6px grey;
}
.bt {
    /*    color: #ddd;
    margin: 2px 4px;
    padding: 6px 34px 6px 34px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;*/
    border-radius: 5px;
    border: 2px solid rgba(70, 205, 79, 0.3);
    text-decoration: none;
    /*    position: relative;
    text-decoration: none;
*/ /*transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;*/
    /*background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;*/
    /*background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);*/
    /*text-shadow: 1px 1px 3px grey;*/
    /*box-shadow: 4px 4px 6px grey;*/
    /*    color: #fff;
    cursor: pointer;*/
    /*// display: block;*/
    /*  font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;*/
}

.bt.danger {
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #971c2c;
    border-color: #de3a4b;
}

.bt_r {
    color: teal;
    margin: 2px 4px;
    padding: 6px 34px 6px 34px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
}
.nav_button {
    text-decoration: none;
    align-items: center;
    padding-left: 5px;
    display: flex;
    /*border: inherit;*/
    border-radius: inherit;
    color: black;
    position: relative;
    /*display: inline-block;*/
    font-weight: 500;
    /*text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;*/
    text-shadow: 1px 2px 3px grey;
    /*user-select: none;*/
    /*padding: 1em 2em;*/
    /*outline: none;*/
    /*border-radius: 3px / 100%;*/
    background-image: linear-gradient(to right, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), linear-gradient(to right, rgba(255,255,255,0.7), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 85%, rgba(255,255,255,.5)),
    /*linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),*/
    /*linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),*/
    linear-gradient(to right, rgba(121, 219, 144, 0.3), rgba(121, 219, 144,.5) 45%, rgba(121, 219, 144, 0.5)), linear-gradient(to right, rgba(121, 219, 144, 0.3), rgba(121, 219, 144,.5) 0%, rgba(121, 219, 144, 0.5) );
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: 3px 3px 6px grey;
}
.bt:hover, .bt_s:hover, .bt_r:hover, .bt_t:hover {
    /*border: 1px solid;*/
    border: 2px solid rgba(53, 177, 62, 0.3);
    top: 1px;
    /*    position: relative;*/
    outline-color: rgba(255, 255, 255, 0);
    /*box-shadow: 6px 6px 12px grey;*/
    /*box-shadow: inset 0 0 20px rgba(53, 177, 62, .2), 0 0 20px rgba(255, 255, 255, .2);*/
    box-shadow: inset 0 0 20px rgba(53, 177, 62, .1), 6px 6px 12px rgba(0,80,80, 0.2);
    outline-offset: 15px;
    text-shadow: 1px 1px 3px #427388;
}
.nav_button:hover {
    top: 1px;
    transition: .3s linear;
    /*background-color: #cfe8d8ff;*/
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: 4px 4px 16px grey;
}
.nav_button:active {
    top: 0px;
    box-shadow: 3px 3px 6px grey;
}
.nav_button:active, .bt:active, .bt_s:active, .bt_r:active, .bt_t:active, .bt.danger {
    top: 0px;
    box-shadow: 4px 4px 6px grey;
}

.bt.danger:hover {
    color: yellow;
    background-color: #de3a4b;
    border-color: #971c2c;
    text-decoration: none;
}

.bt:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.upload-file__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 0.4px;
    height: 0.4px;
}

.upload-file__label {
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
    width: 226px;
    border: 2px dashed #555;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 2px;
}

.img {
    width: 40px;
    height: 36px;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 2px 2px;
    padding: 5px 0px 0px 1px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.3);
    text-decoration: none;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 4px 4px 6px grey;
}

.img:hover {
    width: 40px;
    height: 36px;
    color: #3d3c3c;
    text-decoration: none;
    background-color: #CCF2D3FF;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 2px 2px;
    padding: 5px 0px 0px 1px;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid rgba(180, 180, 180, 0.3);
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: -4px -4px 6px grey;
}


