form {
    margin: 1px 1px;
    padding: 24px 15px 0px 24px;
    text-shadow: none;
}
form-article-title {
    margin: 1px 1px;
    padding: 24px 15px 0px;
    text-shadow: none;
}
div.field {
    margin-top: 5px;
    display: flex;
    vertical-align: bottom;
    align-items: center;
    align-content: center;
}

div.field label {
    height: 24px;
    width: 195px;
}

.input_s {
    margin-left: 12px;
    padding: 9px;
    color: #ddd;
    font-size: 18px;
    width: 260px;
    align-items: center;
    background-color: #444;
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.3);
}

textarea {
    margin-top: 5px;
    font-family: cursive, sans-serif;
    outline: 0;
    background: #444;
    color: #ccc;
    border: 1px solid #ffe4b57a;
    padding: 5px;
    border-radius: 5px;
    width: 540px;
    box-shadow: 4px -4px 12px rgba(70, 205, 79, 0.3);
}

select {
    margin-top: 5px;
    font-family: cursive, sans-serif;
    outline: 0;
    background: #444;
    color: #ccc;
    border: 1px solid #ffe4b57a;
    padding: 5px;
    border-radius: 5px;
    width: 540px;
}
