@import url('clear.css');
@import url('forms.css');
@import url('table_styles.css');
@import url('button.css');
/*@import url('elements.css');*/

:root {
    color: #ddd;
    text-decoration: none;
}
html, body {
    width: 100%;
    height: 99.9%;
    font-family: Calibri;
    background: #222;
}
common-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 44px 40px auto 36px;
    grid-gap: 2px;
    grid-template-areas: "header header"
        "nav article_title"
        "nav article"
        "footer footer";
}
nav {
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.3);
    /*background-image: url('/static/img/bg.jpg');*/ /* Update this path */
    background-size: cover;
    background-position: center;
    text-shadow: 1px 2px 3px grey;

    margin: 0;
    padding: 2px;
    display: grid;
    grid-template-rows: repeat(12,minmax(32px, 64px));
    grid-template-columns: 100%;
    grid-row-gap: 3px;
    grid-area: nav; /* задаем имя элемента */
    align-content: stretch;
}
header {
    display: grid;
    padding-left: 16px;
    grid-template-columns: 4fr 4fr 4fr;
    align-items: center; /* Выравниваем по вертикали*/
    grid-area: header;  /* задаем имя элемента */
}
article {
    display: grid;
    /*grid-template-columns: 7fr 2fr;*/
    grid-area: article; /* задаем имя элемента */
    grid-template-areas: "article_body article_info";
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.3);
}
footer {
  display: grid;
  padding: 8px 16px;
  align-items: center; /* Выравниваем по вертикали*/
  grid-template-columns: 1fr 6fr;
  grid-area: footer;  /* задаем имя элемента */
}
header, footer, article_title {
    border-radius: 3px;
    border: 1px solid rgba(180, 180, 180, 0.3);
}
article_title {
    display: flex; /*Для выравнивания заголовка по центру*/
    background: #cfefd5;
}
footer > .footer-l, header > .header-l {
    margin-left: 10px;
    /*color: #307080;*/
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
footer > .footer-r, header > .header-r {
    /*margin-left: 15px;*/
    margin-right: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav > a {
    text-decoration: none;
    align-items: center;
    padding-left: 5px;
    display: flex;
    border: inherit;
    border-radius: inherit;
    color: #ddd;
}
article_body {
    margin: 0;
    grid-area: article_body; /* задаем имя элемента */
    /*background-color: #deefdf;*/
    /*min-height: 100%;*/
    display: grid;
}
article_info {
    padding: 0px 1px 0px 1px;
    grid-area: article_info; /* задаем имя элемента */
    /*    background-color: #222;*/
    /*min-height: 100%;*/
    display: grid;
}
article_title {
  padding: 2px 16px;
  background: #333;
  display: flex; /*Для выравнивания заголовка по центру*/
  align-items: center; /*Для выравнивания заголовка по центру*/
  grid-area: article_title;  /* задаем имя элемента */
  font-size: 20px;
  color: #fff;
}

a[href^='/language'], header a[href^='/log'] {
    margin-left:10px;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
}

groups > a {
    padding: 3px;
    text-decoration: none;
    align-items: center;
    padding-left: 5px;
    display: flex;
    border: inherit;
    border-radius: inherit;
}

groups {
    float: left; /*Задаем обтекание*/
    text-align: center; /*Центрируем текст по горизонтали*/
    border-radius: 5px;
/*    border: 1px solid rgba(180, 180, 180, 0.3);
*/    margin: 5px;
    background: #444;
}
reports > a {
    text-decoration: none;
    align-items: center;
    padding: 5px 5px 5px 10px;
    display: block;
    border: inherit;
    border-radius: inherit;
    color: #fff;
}
a {
    font-weight: normal;
    color: #fff;
}
reports {
    color: #ddd;
    text-align: left; /*Центрируем текст по горизонтали*/
}
groups > a:hover, reports > a:hover,
nav > a:hover, .header-r > a:hover {
    background: #777;
    color: wheat;
    text-decoration: none;
    border-radius: 4px;
}

.image {
    display: flex;
    width: 34px;
    height: 28px;
    background-color: #444;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.image-2 {
    display: flex;
    width: 48px;
    height: 54px;
    border-radius: 5px;
}
