:root {
    color: #ddd;
}
html, body {
    background: #222;
}

nav {
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.3);
    text-shadow: 1px 2px 3px grey;
}
article {
    border: 1px solid rgba(180, 180, 180, 0.3);
}
article_title {
    color: #fff;
    background: #333;
}
header, footer, article_title {
    border: 1px solid rgba(180, 180, 180, 0.3);
}
.header-r > a:hover {
    background: #777;
    color: wheat;
    box-shadow: 1px 2px 3px rgba(70, 205, 79, 0.4);
}
