<!doctype html>
<html lang="ru">
<head class="intro-header">
    <link rel="stylesheet" type="text/css" href="/static/{{session['style']}}/include.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <common-container>
        <header>
            <div class="header-l"><img src="/static/img/logo-g.ico" class="img-logo">&emsp;<a style="font-size: 20px">{{ res_value('APP_NAME') }}</a> </div>
            <div><a></a></div>
            <div class="header-r">
                {% if 'style' in session and session['style'] == 'color' %}
                <div>
                    <a href="/change-style"><img class="img-style" src="/static/img/icons8-black-white-50.png" style="width: 24px; height: 24px" /></a>
                </div>
                {% else %}
                <div>
                    <a href="/change-style"><img class="img-style" src="/static/img/icons8-color-48.png" style="width: 24px; height: 24px" /></a>
                </div>
                {% endif %}

                {% if session['language'] == 'ru' %}
                <a href="/language/kz">ҚАЗ</a>
                {% else %}
                <a href="/language/ru">РУС</a>
                {% endif %}
                {% if g and g.user and g.user.is_anonymous == True %}
                <a href="/login">{{ res_value('LOGIN') }}</a>
                {% else %}
                <a href="/logout">{{ res_value('LOGOUT') }}</a>
                {% endif %}
            </div>
        </header>

        <nav>
            {% block navigate %}{% endblock %}
            {% if g.user.is_active %}
                <a class="nav_button" href="/time-off">{{ res_value('TIME_OFF') }}</a>
                <!--                    <a class="title2" href="/check-doc">{{ res_value('CHECK_DOC') }}</a>-->
                {% if g.user.subordinate_ou or 'admin' in g.user.roles or 'boss' in g.user.roles %}
                    <a class="nav_button" href="/list-to-approve">{{ res_value('LIST_APPROVE') }}</a>
                {% endif %}
                
                {% if 'admin' in g.user.roles %}
                    <a class="nav_button" href="/secure-time-off">{{ res_value('SECURE_TIME_OFF') }}</a>
                {% endif %}

                {% if g.user.subordinate_ou or 'admin' in g.user.roles or 'boss' in g.user.roles %}
                    <a class="nav_button" href="/all-list-time-off">{{ res_value('ALL_LIST_TIME_OFF') }}</a>
                {% endif %}

                {% if 'admin' in g.user.roles %}
                    <a class="nav_button" href="/secure-list-time-off">{{ res_value('SECURE_LIST_APPROVE') }}</a>
                    <a class="nav_button" href="/list-absent">{{ res_value('LIST_ABSENT') }}</a>
                    <!--<a class="title2" href="/heads">{{ res_value('HEADS') }}</a>-->
                {% endif %}
                <a class="nav_button" href="/list-time-off">{{ res_value('LIST_TIME_OFF') }}</a>
                <a class="nav_button" href="/new-message">{{ res_value('NEW_MESSAGE') }}</a>
                <!--<a class="nav_button" href="/">{{ res_value('ORDER_SUPPORT') }}</a>-->
                <a class="nav_button" href="/">{{ res_value('NEAR_BIRTH_DATE') }}</a>
                <a class="nav_button" href="/static/nsi/PhoneRefer.pdf" target="_blank">{{ res_value('PHONE_REFER') }}</a>
                <a class="nav_button" href="/logout">{{ res_value('LOGOUT') }}</a>
            {% else %}
                <a class="nav_button" href="/login">{{ res_value('LOGIN') }}</a>
            {% endif %}
        </nav>

        <article_title>
            {% block main_title %}{% endblock %}
        </article_title>
        <article>
            <article_body>
                <div>
                    {% block body %}{% endblock %}
                </div>
            </article_body>
            <article_info>
                {% if all_mess %}
                <div class="news-container">
                    <table>
                        <thead class="news-head">
                            <tr>
                                <th>
                                    <a style="font-size: 16px;">{{ res_value('INFORMATION') }}</a>
                                </th>
                            <tr>
                        </thead>

                        <tbody class="news-tbody">
                            <!--{% if all_mess %}-->
                            <tr>
                                <td>
                                    {% for el in all_mess %}
                                    <a style="margin-left:2px; font-size: 12px; font-weight:300">{{ el.mess_date }}</a>&nbsp;
                                    <a style="font-weight:600">{{ el.author }}</a>
                                    <br>
                                    {% if el.dep_name %}
                                    <a style="margin-left: 2px; font-size: 14px; font-weight: 300; font-style: italic">{{ el.dep_name }}</a>
                                    <br>
                                    {% endif %}
                                    <a style="margin-left: 2px; font-weight: 500;">{{ el.message }}</a>
                                    <br>
                                    <br>
                                    {% endfor %}
                                </td>
                            </tr>
                            <!--{% endif %}-->
                        </tbody>
                    </table>

                </div>
                {% block info %}{% endblock %}
                {% endif %}
            </article_info>
        </article>
        <footer class="footer">
            <div class="footer-l">
                <img src="/static/img/logo-g.ico" style="width: 24px; height: 24px">
                <small>&emsp;©2024</small>
            </div>
            <div class="footer-r">
                <small style="visibility: hidden">{{ res_value('CREATORS') }}</small>
                <small style="visibility: hidden">{{ res_value('FOR_DEVELOPERS') }}</small>
                <a style="font-size:14px">{% if g.user.is_authenticated %} #{{ g.user.username }} : {{g.user.post}} : {{g.user.dep_name}} {% endif %}</a>
            </div>
        </footer>
    </common-container>
</body>

</html>