<!doctype html>
<html lang="ru">
<head>
<link rel="stylesheet" type="text/css" href="/static/styles/main.css">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class = "common-container">
        <header class="header">
            <div><a>{{ res_value('APP_NAME') }}</a></div>
            <div><a></a></div>
            <div class="header-r">
                   {% if session['language'] == 'ru' %}
                            <a href="/language/kz">ҚАЗ</a>
                    {% else %}
                            <a href="/language/ru">РУС</a>
                   {% endif %}
                  {% if g.user.is_anonymous == True %}
                            <a href="/login">{{ res_value('LOGIN') }}</a>
                    {% else %}
                            <a href="/logout">{{ res_value('LOGOUT') }}</a>
                  {% endif %}

            </div>
        </header>

        <nav class="nav">
            {% block navigate %}{% endblock %}
                {% if g.user.is_active %}
                    <a class="title2" href="/time-off">{{ res_value('TIME_OFF') }}</a>
                    <a class="title2" href="/check-doc">{{ res_value('CHECK_DOC') }}</a>
                    <a class="title2" href="/heads">{{ res_value('HEADS') }}</a>
                    <a class="title2" href="/change-passwd">{{ res_value('CHANGE_PASSWORD') }}</a>
                    <a class="title2" href="/logout">{{ res_value('LOGOUT') }}</a>
                {% else %}
                    <a class="title2" href="/login">{{ res_value('LOGIN') }}</a>
                {% endif %}
        </nav>

        <div class="article_title">
            {% block main_title %}{% endblock %}
        </div>
        <article class="article">
                    {% block body %}{% endblock %}
        </article>

        <footer class="footer">
              <div class="footer-l">
                 <small>©2024</small>
              </div>
              <div class="footer-r">
                  <small style="visibility: hidden">{{ res_value('CREATORS') }}</small>
                  <small style="visibility: hidden">{{ res_value('FOR_DEVELOPERS') }}</small>
                  <a style="font-size:14px">{% if g.user.is_authenticated %} #{{ g.user.username }} {% endif %}</a>
              </div>
        </footer>
    </div>
</body>

</html>