{% extends 'base.html' %}

{% block title %}
{{ res_value('LIST_TIME_OFF') }}
{% endblock %}

{% block main_title %}
{{ res_value('LIST_TIME_OFF') }}
{% endblock %}

{% block navigate %}
{% endblock %}

{% block body %}
<table class="table_common">
    <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <thead>
        <tr>
            <th style="font-size:16px;"><a>{{ res_value('REG_DATE') }}</a></th>
            <th style="font-size:16px;"><a>{{ res_value('TIME_OUT') }}</a></th>
            <th style="font-size:16px;"><a>{{ res_value('TIME_IN') }}</a></th>
            <!--<th style="font-size:16px;"><a>{{ res_value('TIME_FACT') }}</a></th>-->
            <th style="font-size:16px;"><a>{{ res_value('AGREE_HEAD') }}</a></th>
            <th style="font-size:16px;"><a>{{ res_value('CAUSE') }}</a></th>
            <th style="font-size:16px;"><a>{{ res_value('STATUS') }}</a></th>
            <th style="font-size:16px;"><a>{{ res_value('ACTION') }}</a></th>
        </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
        {% for el in list_time_off %}
        <tr>
            <td style="font-size: 16px; text-align: center;"><a>{{ el.event_date }}</a></td>
            <td style="font-size: 16px; text-align: center;"><a>{{ el.time_out }}</a></td>
            <td style="font-size: 16px; text-align: center;"><a>{{ el.time_in }}</a></td>

            <td style="font-size: 16px;"><a>{{ el.head }}</a></td>

            <!--{% if el.status==1 and not el.time_fact %}
        <td style="font-size:16px;"><a class="bt_t" href="/fact-time-off/{{ el.id }}">{{ res_value('TIME_MARK') }}</a></td>
    {% elif el.time_fact %}
        <td style="font-size: 16px;"><a>{{ el.time_fact }}</a></td>
    {% else %}
        <td style="font-size: 16px;"><a></a></td>
    {% endif %}-->

            <td style="margin-left: 4px; font-size: 16px;"><a>{{ el.cause }}</a></td>

            {% if el.status==2 %}
            <!--<td style="margin-left: 4px; text-align: center; font-size: 16px; color: hotpink; font-weight: 600; "><a>{{ res_value('REFUSED') }}</a></td>-->
                <td style="text-align: center;"><img src="/static/img/refuse-1.png" class="img-logo"></td>
            {% elif el.status==1 %}
                <td style="text-align: center;"><img src="/static/img/approved-3.png" class="img-logo"></td>
            {% else %}
                <td style="margin-left: 4px; text-align: center; font-size: 16px; color: hotpink;"><a>{{ res_value('ON_APPROVING') }}</a></td>
            {% endif %}

            {% if el.cnt_days < 35 or el.status!=1 %}
                <td style="text-align: center;"><a class="button_red" style="margin: 0px; padding: 3px 12px 0px 12px;" href="/del-from-list-time-off/{{ el.id }}">{{ res_value('REMOVE') }}</a></td>
            {% else %}
                <td style="text-align: center;"><img src="/static/img/flower.png" class="img-logo"></td>
            {% endif %}
        </tr>
        {% endfor %}
    <tbody>
</table>
{% endblock %}
