{% extends 'base.html' %}

{% block title %}
{{ res_value('LOGIN_PAGE') }}
{% endblock %}

{% block main_title %}
{{ res_value('LOGIN_PAGE') }}
{% endblock %}

{% block body %}
<div class="title_message">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes" style="margin: 0">
        {% for msg in messages %}
        <li class="td_value_bold"> {{ msg }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<form class="form_body" method="POST">
    <div>
        <input class="input_s" style="margin-left:0px" type="text" name="username" placeholder="{{ res_value('LOGIN_NAME') }}">
    </div>
    <div style="margin-top: 9px">
        <input class="input_s" style="margin-left:0px" type="password" name="password" placeholder="{{ res_value('INSERT_PASSWORD') }}">
    </div>
    <button style="margin-top:16px" type="submit">{{ res_value('LOGIN_BUTTON') }}</button>
    <div style="text-align: left; margin-top: 16px 7px 0px">
        {% if info %}
        <a>{{ info }}</a>
        {% endif %}
    </div>
</form>
{% endblock %}