{% extends 'base.html' %}

{% block title %}
{{ res_value('NEW_MESSAGE') }}
{% endblock %}

{% block main_title %}
{{ res_value('NEW_MESSAGE') }}
{% endblock %}

{% block navigate %}
{% endblock %}

{% block body %}
<form method="POST">
    <div>
        <a style="font-size: 20px; font-weight: 500">{{ res_value('ADD_MESSAGE') }}</a>
    </div>
    <div>
        <textarea style="margin-top: 12px" class="textarea" name="new-message" rows="10" cols="80"></textarea>
    </div>
    <div style="margin-top: 16px"><button type="submit">{{ res_value('SAVE') }}</button></div>
</form>
{% endblock %}