.bt_report {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    background-image: url(printer_48.png);
}

.bt_s {
    color: #ddd;
    margin: 2px 7px;
    padding: 6px 39px 6px 39px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.3);
    text-decoration: none;
    background-color: #333;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.bt_r {
    color: #ddd;
    margin: 2px 4px;
    padding: 6px 34px 6px 34px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.3);
    text-decoration: none;
    background-color: #333;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.bt {
    color: #ddd;
    margin: 2px 2px;
    padding: 6px 10px 6px 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.3);
    text-decoration: none;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.bt.danger {
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #971c2c;
    border-color: #de3a4b;
}

.bt:hover, .bt_s:hover, .bt_r:hover {
    color: #307080;
    text-decoration: none;
    color: lightgoldenrodyellow;
    background-color: #20608F;
}

.bt.danger:hover {
    color: yellow;
    background-color: #de3a4b;
    border-color: #971c2c;
    text-decoration: none;
}

.bt:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.upload-file__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 0.4px;
    height: 0.4px;
}

.upload-file__label {
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
    width: 226px;
    border: 2px dashed #555;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 2px;
}