/*@import url('clear.css');*/
@import url('forms.css');
@import url('table_styles.css');
@import url('button.css');
/*@import url('elements.css');*/

:root{
    color: #ddd;
}
html, body {
    width: 99%;
    height: 99%;
    font-family: Calibri;
    background: #222;
}
nav, article {
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.3);
}
header, footer, .article_title {
  border-radius: 3px;
  border: 1px solid rgba(180, 180, 180, 0.3);
}
.article {
    padding: 6px 0px;
}
.common-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 0.5fr 0.5fr 7fr 0.3fr;
    grid-gap: 2px;
    grid-template-areas: "header header"
                 "nav article_title"
                 "nav article"
                 "footer footer";
}
header {
    display: grid;
    padding-left: 16px;
    grid-template-columns: 4fr 4fr 4fr;
    align-items: center; /* Выравниваем по вертикали*/
    grid-area: header;  /* задаем имя элемента */
}
footer {
  display: grid;
  padding: 8px 16px;
  align-items: center; /* Выравниваем по вертикали*/
  grid-template-columns: 1fr 6fr;
  grid-area: footer;  /* задаем имя элемента */
}
.footer-l {
    margin-left: 10px;
    /*color: #307080;*/
    font-weight: bold;
}
footer > .footer-r, header > .header-r {
    /*margin-left: 15px;*/
    margin-right: 10px;
    text-align: right;
}
nav {
    margin: 0;
    padding: 2px;
    display: grid;
    grid-template-rows: repeat(7,minmax(20px, 10%));
    grid-template-columns: 100%;
    grid-row-gap: 3px;
    grid-area: nav;  /* задаем имя элемента */
    align-content: stretch;
}

nav > a {
    text-decoration: none;
    align-items: center;
    padding-left: 5px;
    display: flex;
    border: inherit;
    border-radius: inherit;
    color: #ddd;
}

article {
  margin: 0;
  grid-area: article;  /* задаем имя элемента */
}
.article_title {
  padding: 2px 16px;
  background: #333;
  display: flex; /*Для выравнивания заголовка по центру*/
  align-items: center; /*Для выравнивания заголовка по центру*/
  grid-area: article_title;  /* задаем имя элемента */
  font-size: 20px;
  color: #fff;
}

.article_title > a {
    background: #333;
    color: #ddd;
    padding: 3px 12px 3px 12px;
    margin: 2px;
    text-decoration: none;
    border-radius: 4px;
}

a[href^='/language'], header a[href^='/log'] {
    color: #fff;
    margin-left:10px;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
}

groups > a {
    padding: 3px;
    text-decoration: none;
    align-items: center;
    padding-left: 5px;
    display: flex;
    border: inherit;
    border-radius: inherit;
    color: #fff;
}

groups {
    float: left; /*Задаем обтекание*/
    text-align: center; /*Центрируем текст по горизонтали*/
    border-radius: 5px;
/*    border: 1px solid rgba(180, 180, 180, 0.3);
*/    margin: 5px;
    background: #444;
}
reports > a {
    text-decoration: none;
    align-items: center;
    padding: 5px 5px 5px 10px;
    display: block;
    border: inherit;
    border-radius: inherit;
    color: #fff;
}
reports {
    color: #ddd;
    text-align: left; /*Центрируем текст по горизонтали*/
}
.article_title > a:hover, groups > a:hover, reports > a:hover,
nav > a:hover, .header-r > a:hover {
    background: #777;
    color: wheat;
    text-decoration: none;
    border-radius: 4px;
}

.image {
    display: flex;
    width: 34px;
    height: 28px;
    background-color: #444;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.image-2 {
    display: flex;
    width: 48px;
    height: 54px;
    border-radius: 5px;
}
